@use "sass:math";

// Подключение миксинов ===========================================================================================================================================================================================================================================================================
@import "base/mixins";

// Подключение шрифтов ===========================================================================================================================================================================================================================================================================
@import "base/fonts";

$fontFamily: "SFProText";
$fontSize: toRem(16);

// Переменные ==============================================================================================================================================================================================================================================================================
$mainColor: #464646;
$dark: #181818;

$radius: toRem(12);
$transition: 0.2s ease;

// НАСТРОЙКИ ===============================================================================================================================================================================================================================================================================================
// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1920;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1440;

// Брейк-поинты
$pc: em(1439.98); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: em(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: em(767.98); // Телефоны L
$mobileSmall: em(479.98); // Телефоны S

// Обнуление ===========================================================================================================================================================================================================================================================================
@import "base/null";

section {
  padding-top: toRem(42);
  padding-bottom: toRem(80);
}
::-webkit-scrollbar {
  width: toRem(3);
  height: toRem(3);
  &-thumb {
    background-color: $dark;
    border-radius: $radius;
  }
}
// Оболочка ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  // Прижимаем footer
  > main {
    flex: 1 1 auto;
  }
  // Фикс для слайдеров
  > * {
    min-width: 0;
  }
}
// Ограничивающий контейнер ======================================================================================================================================================================================================================
[class*="__container"] {
  max-width: toRem($maxWidthContainer);
  margin: 0 auto;
  padding: 0 toRem(60);
  @media (max-width: $tablet) {
    padding-left: toRem(15);
    padding-right: toRem(15);
  }
}

// Подключение стилей общих элементов проекта
@import "common";

// Подключение стилей отдельных блоков
@import "header";
@import "footer";

// Подключение стилей отдельных страниц
@import "home";
@import "product";
