@font-face {
    font-family: "SFProText";
    src: url("../../../assets/fonts/SFProText/SFProText-Regular.ttf");
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "SFProText";
    src: url("../../../assets/fonts/SFProText/SFProText-Medium.ttf");
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: "SFProText";
    src: url("../../../assets/fonts/SFProText/SFProText-Bold.ttf");
    font-style: normal;
    font-weight: 700;
}
